# python==3.11
openai
numpy
pandas
python-dotenv
pyyml
tenacity
tiktoken
tqdm
gensim
jsonlines
astunparse
pyarrow
google-generativeai
accelerate
datasets
sentence_transformers
faiss-gpu-cu11
tabulate
